<form [formGroup]="changeHoldType" class="common-form striped-odd">
    <div class="form-group row">
        <div class="col-lg-3">
            <label i18n="@@change_hold_type.new_type" for="change-hold-type-desired-type">New hold type</label>
        </div>
        <div class="col-lg-9 pe-0">
            <select id="change-hold-type-desired-type" formControlName="desiredType" (change)="selectType($event.target.value)" class="form-select">
                @for (option of typeOptions(); track option.code) {
                    <option [value]="option.code">{{ option.label }}</option>
                }
            </select>
        </div>
    </div>
    @if (desiredType() && targetOptions.hasValue()) {
        <div class="form-group row">
            <div class="col-lg-3"><label i18n="@@change_hold_type.new_target" for="desiredTarget">New hold target</label></div>
            <div class="col-lg-9 pe-0">
                @switch (targetOptions.value().length) {
                    @case (0) {
                        <ng-container i18n>There are no possible targets of this type.</ng-container>
                    }
                    @case (1) {
                        {{ targetOptions.value()[0].label }}
                    }
                    @default {
                        <eg-combobox [entries]="targetOptions.value()" formControlName="desiredTarget" (onChange)="selectOption($event)" domId="desiredTarget" [displayTemplate]="displayTemplate"></eg-combobox>
                    }
                }
            </div>
        </div>
    }
    @if (metarecordHoldFilters.hasValue()) {
        @for (holdFilter of metarecordHoldFilters.value(); track holdFilter.name) {
            <fieldset class="form-group row" [formGroupName]="holdFilter.name">
                <legend class="col-form-label">{{ holdFilter | metarecordHoldFilterLabel }}</legend>
                <div class="row">
                    @for (val of holdFilter.options() | keyvalue; track val.key) {
                        <div class="form-check col-md-4">
                            <input type="checkbox" class="form-check-input" [name]="val.key" [formControlName]="val.key" id="{{holdFilter.name}}-{{val.key}}"/>
                            <label class="form-check-label" for="{{holdFilter.name}}-{{val.key}}">{{val.value}}</label>
                        </div>
                    }
                </div>
            </fieldset>
        }
    }
</form>
<ng-template #displayTemplate let-target="result" i18n>
  @if (target.userdata) { <span class="material-icons" aria-label="Requires override">error</span> } {{target.label}}
</ng-template>
