<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close"
            ng-click="closeModal()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">[% l('Mark as Spam') %]</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <button class="btn btn-primary medium-margin" type="button"
                ng-click="spam()">[% l('Mark as Spam') %]</button>
        </div>
        <div class="row">
            <button class="btn btn-primary medium-margin" type="button"
                ng-if="showBlockEmailOption"
                ng-click="spamAndBlockEmail()">[% l('Mark as Spam and Block Email Address') %]</button>
        </div>
        <div class="row">
            <button class="btn btn-primary medium-margin" type="button"
                ng-if="showBlockEmailOption"
                ng-click="spamAndBlockDomain()">[% l('Mark as Spam and Block Email Domain') %]</button>
        </div>
    </div>
</div> <!-- modal-content -->
</div> <!-- modal-dialog -->
